:root {
  --main-color: #e02f6b;
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #3f2d34;
  --cyan-light: #27b4ad;
  --white: #ffffff;
  --white-alpha-30: rgba(255, 255, 255);
}
