:root {
  --main-color: #e02f6b;
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #cfa2b4;
  --cyan-light: #aef1ee;
  --white: #ffffff;
  --white-alpha-30: rgba(255, 255, 255);
}
