@use "../../scss/abstracts/" as *;
.Contact {
  margin-top: 1rem;
  min-height: 85vh;
  background-color: $backgroundColor;
  border: 1px solid $backgroundBoder;
  border-radius: 3rem;
  // color: $aboutColor;
  padding: 0 0 50px 0;
  @include mobile {
    padding: 0 0 30px 0 !important;
  }

  .Title__Container {
    margin-top: 10px;
    h1 {
      font-size: $fontSizeLarge;
      font-weight: 600;
    }
  }
  .Contact__Form {
    .Contact__Input {
      width: 80%;
    }
  }
  .Contact__Info {
    text-align: start;
    padding: 0;
    @include mobile {
      padding: 0 0 0 30px !important;
      order: -1;
      margin-bottom: 20px;
    }
    @include tablet {
      padding: 0 0 0 30px !important;
      order: -1;
      margin-bottom: 20px;
    }
    h2 {
      font-size: $fontSizeMedium;
      font-weight: 600;
    }
    .Contact__Item {
      margin-top: 20px;
      .Contact__Icon {
        background-color: $backgroundColor;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
          animation: rotation 2s ease infinite;
        }
        svg {
          // color: $mainColor;
          font-size: 40px;
        }
        @keyframes rotation {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(359deg);
          }
        }
      }
    }
  }
}
