@use "../../scss/abstracts/" as *;
.Portfolio__Container {
  margin-top: 1rem;
  min-height: 85vh;
  background-color: $backgroundColor;
  border: 1px solid $backgroundBoder;
  border-radius: 3rem;
  color: $aboutColor;
  padding: 0px 20px 30px 20px;
  .displayNone {
    display: none !important;
  }
  @include mobile {
    padding: 0 !important;
  }

  .Title__Container {
    h1 {
      font-size: $fontSizeLarge;
      font-weight: 600;
    }
  }
  .Portfolio__List {
    .Portfolio__Item {
      margin-top: 10px;
      .Img__Box {
        padding: 10px;
        background-color: $backgroundColor;
        border: 1px solid $backgroundBoder;
        border-radius: 20px;
        img {
          border-radius: 20px;
          width: 100%;
          height: 100%;
        }
      }
      p {
        font-size: $fontSizeMedium;
        margin-top: 10px;
        font-weight: 500;
      }
      button {
        list-style: 1.5rem;
        font-size: $fontSizeMedium;
        background-color: $backgroundColor;
        border: 1px solid $backgroundBoder;
        color: $mainColor;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        margin-top: 10px;
        position: relative;
        &:hover {
          cursor: pointer;
          color: white;
        }
        &:hover::before {
          width: 100%;
          left: 0;
        }
        &::before {
          content: "";
          position: absolute;
          background-color: $mainColor;
          width: 0%;
          height: 100%;
          border-radius: 1rem;
          left: 50%;
          top: 0;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
