@use "../../scss/abstracts/" as *;
.Portfolio__Container {
  margin-top: 1rem;
  min-height: 85vh;
  background-color: $backgroundColor;
  border: 1px solid $backgroundBoder;
  border-radius: 3rem;
  // color: $aboutColor;
  padding: 0px 20px 30px 20px;
  .displayNone {
    display: none !important;
  }
  @include mobile {
    padding: 0 !important;
  }

  .Title__Container {
    margin-top: 10px;
    h1 {
      font-size: $fontSizeLarge;
      font-weight: 600;
    }
  }
  .Portfolio__List {
    @include tablet {
      margin-top: 20px;
      overflow-y: scroll;
      justify-content: center;
    }
    @include mobile {
      margin-top: 20px;
      overflow-y: scroll;
      padding-bottom: 20px;
    }
    .Portfolio__Item {
      margin-top: 10px;
      @include tablet {
        width: 80%;
        max-width: 80%;
      }
      @include mobile {
        width: 100%;
        max-width: 100%;
      }

      .Img__Box {
        padding: 10px;
        background-color: $backgroundColor;
        border: 1px solid $backgroundBoder;
        border-radius: 20px;
        @include mobile {
          margin: 0 10px 0 10px;
        }
        img {
          border-radius: 20px;
          width: 100%;
          height: 200px;
        }
      }
      p {
        font-size: $fontSizeMedium;
        margin-top: 10px;
        font-weight: 500;
      }
    }
  }
}
